.main__Loader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
html,
body {
	width: 100%;
	background: #000;
}

.hourglass {
	display: block;
	background: #000;
	margin: 3em auto;
	width: 2em;
	height: 4em;
	animation: hourglass 1s linear infinite;
}

.outer {
	fill: #ffc107;
}

.middle {
	fill: #000;
}

@keyframes hourglass {
	0% {
		transform: rotate(0deg);
		box-shadow: inset #ffc107 0 -0em 0 0, inset #000 0 -2em 0 0,
			inset #ffc107 0 -4em 0 0;
	}
	80% {
		transform: rotate(0deg);
		box-shadow: inset #ffc107 0 -2em 0 0, inset #000 0 -2em 0 0,
			inset #ffc107 0 -2em 0 0;
	}
	100% {
		transform: rotate(180deg);
		box-shadow: inset #ffc107 0 -2em 0 0, inset #000 0 -2em 0 0,
			inset #ffc107 0 -2em 0 0;
	}
}
